.background {
  height: 80px;
  width: 829px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-ghostwhite-100);
  display: none;
  max-width: 100%;
}
.signInWith {
  flex: 1;
  position: relative;
  font-size: var(--font-size-8xl-7);
  font-weight: 600;
  font-family: var(--font-akatab);
  color: var(--color-dimgray-300);
  text-align: left;
  z-index: 1;
}
.passwordHint {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-253xl) var(--padding-xl)
    var(--padding-257xl);
  background-color: var(--color-ghostwhite-100);
  flex: 1;
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
}
.passwordHint:hover {
  background-color: var(--color-gainsboro);
}
.backgroundIcon,
.passwordLabel {
  align-self: stretch;
  max-width: 100%;
}
.passwordLabel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs) 0 var(--padding-11xs);
  box-sizing: border-box;
}
.backgroundIcon {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.divider {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-xs);
  box-sizing: border-box;
  min-width: 205px;
}
.orSignIn {
  width: 142px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.alternativeSignIn {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: flex-end;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-11xl-5);
}
.background1 {
  height: 80px;
  width: 391px;
  position: relative;
  border-radius: var(--br-smi);
  background-color: var(--color-ghostwhite-100);
  display: none;
  max-width: 100%;
}
.imageIcon {
  width: 26px;
  height: 32px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.appleButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-10xs);
}
.apple {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 55px;
  z-index: 1;
}
.appleLogin,
.background2 {
  border-radius: var(--br-smi);
  background-color: var(--color-ghostwhite-100);
  max-width: 100%;
}
.appleLogin {
  width: 391px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-112xl) var(--padding-2xl);
  box-sizing: border-box;
  gap: var(--gap-lgi);
}
.background2 {
  height: 80px;
  width: 409px;
  position: relative;
  display: none;
}
.imageIcon1 {
  width: 28px;
  height: 28px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.imageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-8xs);
}
.google {
  flex: 1;
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
  z-index: 1;
}
.appleLogin1,
.socialLogin {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.appleLogin1 {
  flex: 1;
  border-radius: var(--br-smi);
  background-color: var(--color-ghostwhite-100);
  align-items: flex-end;
  padding: var(--padding-xl) var(--padding-111xl) var(--padding-2xl);
  gap: var(--gap-lgi);
  min-width: 266px;
  font-size: var(--font-size-8xl-7);
  color: var(--color-dimgray-200);
}
.socialLogin {
  align-self: stretch;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 0 0 var(--padding-mini);
  gap: var(--gap-13xl);
  font-size: var(--font-size-9xl-6);
  color: var(--color-dimgray-100);
}
.imageIcon2 {
  height: 58px;
  width: 73px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.attributionLogo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-59xl);
}
.poweredByWonderland {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  z-index: 1;
}
.attributionLogoParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.studioAttribution {
  width: 821px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lg);
  color: var(--neutral-black);
}
.passwordInput {
  width: 832px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-29xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl-3);
  color: var(--color-darkgray);
  font-family: var(--font-akatab);
}
@media screen and (max-width: 450px) {
  .signInWith {
    font-size: var(--font-size-3xl);
  }
  .passwordHint {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .orSignIn {
    font-size: var(--font-size-base);
  }
  .alternativeSignIn {
    gap: var(--gap-mini);
  }
  .apple {
    font-size: var(--font-size-4xl);
  }
  .appleLogin {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .google {
    font-size: var(--font-size-3xl);
  }
  .appleLogin1 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .socialLogin {
    gap: var(--gap-base);
  }
  .passwordInput {
    gap: var(--gap-5xl);
  }
}
